@charset "UTF-8";

:root{
    --cor01: #FD96A9;
    --cor02: #9CEC5B;
    --fonte01: ; 
}
div{
    display: inline-block;
    width: 400px;
    height: 400px;
    background-color: var(--cor01);
    border: 4px dashed #9CEC5B;
    position: relative;
    margin-left:35%;
    margin-top: 5%;
 border-radius: 10px 10px 10px 10px;
}
div img{
display: block;
margin:auto;
padding: 25px;
}
div article{
    padding: 25px;
}
div nav{
    padding: 10px;
}
div a {
    position:relative;
    margin-top:40%;
}