@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
:root{
    --cor01: #a9b388;
    --cor02: #f9ebc7;
    --fonte01:"Inria Sans", sans-serif; ; 
}
article{
    position: relative;
}
section{
    display: inline-block;
    width: 400px;
    height: 350px;
    background-color: var(--cor01);
    border: 4px dashed var(--cor02);
    position: absolute;
    left: 50%;
    top:40%;
   transform: translate(-50%,-50%);
  

    border-radius: 10px 10px 10px 10px;
    font-family: var(--fonte01);
    text-align: justify;
}
section img{
display: block;
margin:auto;
padding: 0px 25px 0px 25px;
}
section article{
    padding: 25px;
   color: rgb(29, 27, 27)
}
section nav{
    padding: 10px;
    margin-top: 5%;
    margin-left: 10%;
}
section a {
    text-decoration: none;
    color: var(--cor02);
    font-size: 1.2em;
    padding: 15px;

}
section a:hover{
    text-decoration: underline;
    color: white;
}